<% include ../partials/header %>

<div class="container">
	<div class="row">
		<h1 style="text-align: center;">Edit <%=campground.name%></h1>
		<div style="width: 33%; margin:33px auto;">
			<form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
				<div class="form-group">
					<label>Name of Campground:</label><input class ="form-control" type="text" name="campground[name]" value="<%=campground.name%>" placeholder="CampGround Name">
				</div>		
				<div class="form-group">
					<label>Image URL of Campground:</label><input class ="form-control" type="text" name="campground[image]" value="<%= campground.image%>" placeholder="Image URL">
				</div>
				<div class="form-group">
					<label>Description of Campground:</label><textarea class ="form-control" type="text" name="campground[description]" placeholder="Description"><%-campground.description%></textarea>
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit</button>
				</div>
			</form>
			<a href="/campgrounds/<%=campground._id%>">GO BACK</a>
		</div>
	</div>
</div>

<% include ../partials/footer %>

<!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum. -->